<ion-view title="manage-spec" hide-nav-bar="true" id="page5" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div on-swipe-left="manageSpecController.onGesture('swipe_left')" on-swipe-right="manageSpecController.onGesture('swipe_right')">
            <div class="accel_icon">
                <img src="main/assets/images/accel_icon.svg"/>
            </div>
            <img src="main/assets/images/GPoG2EkkTfeXvoUrpwfA_Manageability - specs.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>