<ion-view title="rotate" hide-nav-bar="true" id="page4" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div on-swipe-left="rotateController.onGesture('swipe_left')" on-swipe-right="rotateController.onGesture('swipe_right')">
            <img src="main/assets/images/AjDm0vSP2TgQbaTSG7VA_3D  Rotate Landing.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>