<ion-view title="scalability-slots" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div on-swipe-left="scalabilitySlotsController.onGesture('swipe_left')" on-swipe-right="scalabilitySlotsController.onGesture('swipe_right')">
            <div class="accel_icon">
                <img src="main/assets/images/accel_icon_grey.svg"/>
            </div>
            <img src="main/assets/images/mhjPUBTSxqbyEO5AgIDA_Scalability-slots.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>