<ion-view title="scalability" hide-nav-bar="true" id="page6" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div on-swipe-left="scalabilityController.onGesture('swipe_left')" on-swipe-right="scalabilityController.onGesture('swipe_right')">
            <div class="hot-spot-scalability" ng-click="scalabilityController.detail()">
                <img src="main/assets/images/touch_icon_pointer.png" />
            </div>
            <div class="accel_icon">
                <img src="main/assets/images/accel_icon.svg"/>
            </div>
            <img src="main/assets/images/3KD5CchtRIeydBqR3SjQ_Scalability.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>